.form__title {
    font-family: 'RobotoDraft', Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 400;
    margin: 1em 0;
    width: 100%;
    color: $brand-text;

    @include respond-to(handhelds) { 
        background-color: $header-colour;
        color: $header-text-colour;
        margin-bottom: .5em;
        padding: .5em 10px;
    }

}

.textual-value {
    //  Inline value
    padding: 5px 0;
    margin-right: 15px;
    display: inline-block;
}

// Radios and checkboxes
.touch-control {
    color: $text-colour;
    display: block;
    float: left;
    clear: both;
    width: auto;
    min-width: 225px;
    line-height: 1;
    position: relative;
    cursor: pointer;

    > input {
        margin: 12px 0 0 10px;
        position: absolute;
        display: none;
    }

    span {
        @include button-style($muted-colour);

        padding: 9px 30px 10px;
        float: right;
        min-width: 80px;
        width: 100%;

        &:before {
            background-image: url('../images/icon-search.png');
            background-repeat: none;
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 10px;
        }
    }

    input:checked + span {  // IE 9+ :-?
        @include button-style($selected-colour);
        color: $white;

        .form__hint {
            color: inherit;
        }

        &:before {
            background-image: url('../images/icon-searching.gif');
        }
    }
}
