nav {
    overflow: auto;
    width: 100%;
    margin-top: 30px;
    padding: 30px 25px;
    background-color: #f7f7f7;

    button {
        margin: 0;
    }

    .button {
        float: right;
        width: 200px;
    }

    .button--muted {
        float: left;
        width: 125px;
    }
}

@include respond-to(handhelds) {
    nav {
        position: relative;
        padding: 0 10px;

        .button {
            float: none;
            width: 100%;
            display: block;
        }

        .button--muted {
            position: absolute;
            top: 80px;

            + button {
                margin-bottom: 80px;
            }
        }
    }
}
