// http://chir.ag/projects/name-that-color/

// Colors
$periwinkle-gray: #c6ccea;
$sunglo: #e17776; // Error field and message
$white: #ffffff;
$porcelain: #f0f3f3;
$athens-gray: #e6e8ee; // msg master border colour
$border-colour: #c2c7cc; //inputs
$pannel-border-colour: #c9d0e1; // Quote and help

$brand-text: #003d5c;
// ------------------------------
// Buttons
// ------------------------------
$primary-colour: #74b533; //#5fcac6;
$secondary-colour: #1e89d1; // also info-colour
$selected-colour: #74b533; // also tertiary colour
$muted-colour: $porcelain;
// ------------------------------
// Semantic colour names
// ------------------------------
$info-colour: lighten($brand-text, 5%);
$link-colour: $brand-text;
$text-colour: lighten(#000000, 23%);
$secondary-text-colour: lighten(#000000, 46%);
$header-colour: $brand-text;
$header-text-colour: #ffffff; 
$footer-colour: #003c5b;
$footer-text-colour: #ffffff;
$placeholder-colour: #b0b5ba;
$body-background-colour: #e9e6d5;
$error-background-colour: $sunglo;
