{{#each EL_BLOCK_LINK}}
<a href="#" class="block-link">
    <span class="block-link__title">{{title}}</span>
    <span class="block-link__sub-title">{{meta}}</span>
    <span class="block-link__image"></span>
</a>
{{/each}}
