<footer class="global-footer">
    <div class="global-footer-links">
        <div class="menu-toggle" id="menu1p">
            <h1 class="menu-toggle__header" id="menu1h" data-role='header'>About us</h1>
            <ul class="menu-toggle__menu">
                <li><a href='#' class='menu-toggle__menu-link'>About us</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Features</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Pricing</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Case studies</a></li>
            </ul>
        </div>
        <div class="menu-toggle" id="menu2p">
            <h1 class="menu-toggle__header" id="menu2h" data-role='header'>Contact &amp; info</h1>
            <ul class="menu-toggle__menu">
                <li><a href='#' class='menu-toggle__menu-link'>Blog</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Media</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Careers</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Contact us</a></li>
            </ul>
        </div>
        <div class="menu-toggle" id="menu3p">
            <h1 class="menu-toggle__header" id="menu3h" data-role='header'>Support</h1>
            <ul class="menu-toggle__menu">
                <li><a href='#' class='menu-toggle__menu-link'>Videos guides</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Training events</a></li>
                <li><a href='#' class='menu-toggle__menu-link'>Support</a></li>
            </ul>
        </div>
    </div>
</footer>
