<section class="sub-nav">
    <div class="sub-nav__content">
        <div class="sub-nav__actions">
            <a href="#" class=""><span class="button--secondary">Primary action</span></a>
        </div>
        <a href="#" class="sub-nav__prompt-link">Menu</a>
        <ul class="sub-nav__destinations">
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#text-entry">Text Entry</a>
            </li>
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#select-menus">Select Menus</a>
            </li>
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#integral-units">Integral Units</a>
            </li>
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#dates">Dates</a>
            </li>
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#buttons">Buttons</a>
            </li>
            <li class="sub-nav__item">
                <a class="sub-nav__item-link" href="#radios">Radios</a>
            </li>
        </ul>
    </div>
</section>
