<form action="#" novalidate>
    {{> global_header }}
    {{> sub_nav }}

<!--     <div class="l">
        <div class="l__1-2"><h4>1/2: Download free</h4>foo</div>
        <div class="l__1-2"><h4>1/2: Download free</h4><input type="text" class="form__control"></div>

        <div class="l__1-3">
            <h4>1/3: Download free</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-3">
            <h4>1/3: Grow conversion</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-3">
            <h4>1/3: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>

        <div class="l__1-4">
            <h4>1/4: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-4">
            <h4>1/4: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-4">
            <h4>1/4: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-4">
            <h4>1/4: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__2-3">
            <h4>2/3: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
        <div class="l__1-3">
            <h4>1/3: Upgrade automatically</h4>
            Lorem ipsum dolor sit amet, adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        </div>
    </div> -->
    
    <div class="content-main" role="main">
        <h2>Page name</h2>
       
        {{>atom_message CONTEXT_MESSAGES}}
        
        <div>
            
            {{> atom_block_link CONTEXT_BLOCK_LINKS}}

            <div class="feature-ticker">
                <ul class="feature-ticker__list">
                    <li class="feature-ticker__item">Handled with care</li>
                    <li class="feature-ticker__item">Free and fast delivery</li>
                    <li class="feature-ticker__item">Extra warranty</li>
                    <li class="feature-ticker__item">Secure Shopping</li>
                    <li class="feature-ticker__item">It's easy</li>
                </ul>
                <a href="#" class="feature-ticker__link">more info</a>
            </div>


        </div>

        <fieldset class="form">
            <legend class="form__title" id="text-entry">Text entry</legend>
            <p>Bacon ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra pellentesque Justo quis sodales. Suspendisse dolor magna a fringilla augue. Ut feugiat turpis a faselli.</p>
            <ul class="form__content">
                {{>molecule_question CONTEXT_FORM}}
            </ul>
        </fieldset>
        <nav>
            {{> atom_button CONTEXT_NAV }}
        </nav>
    </div>
    {{> global_footer }}
</form>
