<style>
    .canvas {
        position: relative;
        border: 1px solid green;
        margin-left: 20px;
        min-height: 400px;
        width: 50%;
    }

    .lecia,
    .shadow {
        border: 1px solid red;
        position: absolute;;
        bottom: 0;
        left: 0; 
        transform: rotate(0);
        transition: all 0.5s ease-in-out 0s
    }
    .shadow {
        bottom: 15px;
        left: -15px;
    }
    .animate .shadow {
        bottom: 0;
        left: 0;
    }
</style>
<form action="#" novalidate>
    {{> global_header }}
    {{> sub_nav }}

    <div class="content-main" role="main">
        <h2>{{title}}</h2>
        {{>atom_message CONTEXT_MESSAGES}}
        <div>
            {{> atom_block_link CONTEXT_BLOCK_LINKS}}
        </div>
        <div style="min-height:600px; background-color: #c3c3c3;" id="wp_1">
            
        </div>
        <div style="min-height:400px; background-color: #f3f3f3;">
            <div class="canvas cf" id="wp_2">
                <div class="shadow">{{> svg_lecia_shadow }}</div>
                <div class="lecia">{{> svg_lecia }}</div>
            </div>
            <h2>...that lets you get paid for whatever you do.</h2>
        </div>
        <div style="min-height:600px; background-color: #c3c3c3;" id="wp_3">
            
        </div>
        <nav>
            {{> atom_button CONTEXT_NAV }}
        </nav>
    </div>
    {{> global_footer }}
</form>

{{#extend "scripts"}}
    <script src="javascripts/vendor/noframework.waypoints.min.js" ></script>
    <script>
        var waypoint = new Waypoint({
            element: document.getElementById('wp_2'),
            offset: 60,
            handler: function(direction) {
                if (direction === 'down'){
                    document.querySelector(".content-main").classList.add ('animate');
                }else{
                    document.querySelector(".content-main").classList.remove ('animate');
                }
            }
        })
    </script>
{{/extend}}
